.stats{
    display: flex;
    width: 80%;
    padding:20px;
    
}
.health{
    width: 10px;
    height:15px;
    border-radius: 5px;
    margin:10px;
}
.nombre{
font-size: 25px;
}
.stats {
    margin-top: 20px;
}

.stat-bar {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.stat-bar span {
    width: 100px; /* Ancho fijo para la etiqueta */
    text-align: right;
   
}