<section class="stats">
    <span class="nombre">VIDA </span>
    <span class="health">   </span>
    <span class="health"*ngIf="vidaPokemon >=0">💗</span>
    <span class="health"*ngIf="vidaPokemon >=20">💗</span>
    <span class="health"*ngIf="vidaPokemon >=60">💗</span>
    <span class="health"*ngIf="vidaPokemon >=80">💗</span>
    <span class="health"*ngIf="vidaPokemon ===100">💗</span>
</section>
<section class="stats">
    <span class="nombre">DEFENSA  </span>
    <span class="health">   </span>
    <span class="health"*ngIf="vidaPokemon >=0">🔰</span>
    <span class="health"*ngIf="vidaPokemon >=20">🔰</span>
    <span class="health"*ngIf="vidaPokemon >=60">🔰</span>
    <span class="health"*ngIf="vidaPokemon >=80">🔰</span>
    <span class="health"*ngIf="vidaPokemon ===100">🔰</span>
    
</section>
<section class="stats">
    <span class="nombre">ATAQUE  </span>
    <span class="health">  </span>
    <span class="health"*ngIf="vidaPokemon >=0">💥</span>
    <span class="health"*ngIf="vidaPokemon >=20">💥</span>
    <span class="health"*ngIf="vidaPokemon >=60">💥</span>
    <span class="health"*ngIf="vidaPokemon >=80">💥</span>
    <span class="health"*ngIf="vidaPokemon ===100">💥</span>
</section>
